.cards{
  display: flex;
  justify-content: space-evenly;
  background-color: #F7F7FA;
  height: 350px;
  align-items: center;
}
.card{
  background-color: #FFFFFF;
  width: 150px;
  height: 250px;
}
.name{
  color: #484848;
  margin-left: 5px;
  opacity: 1;
  font-size: 18px;
  margin-bottom: 4px;
}
.card-text{
  color: #767676;
  opacity: 1;
  font-size: 14px;
  margin: 0;
  margin-left: 5px;
}