.cards{
  display: flex;
  justify-content: space-evenly;
  background-color: #F7F7FA;
  padding-top: 50px ;
  height: 350px;
  }
.card{
  background-color: #FFFFFF;
  width: 150px;
  height: 250px;
}
.name{
  color: #484848;
  opacity: 1;
  font-size: 18px;
  margin-bottom: 4px;
}
.card-text{
  color: #767676;
  opacity: 1;
  font-size: 14px;
  margin: 0;
}