.App-header {
  background-image: url("../../assets/banner2.png");
  background-size: cover;
  height: 300px;
  display: flex;
  color: #ffffff;
}
.text-header {
  padding: 25px 118px 12px 170px;
  color: #ffffff;
  opacity: 0.92;
  font-size: 35px;
  width: 400px;
  margin-bottom: 0;
  margin-top: 0;
}
.citaclic {
  background-color: #2b3137;
  height: 337px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.text-citaclic {
  padding: 0px 118px 0px 170px;
  color: #ffffff;
  opacity: 0.92;
  font-size: 25px;
  width: 420px;
}
.imagenHome {
  width: 100%;
}