.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav{
    color: #111111;
    padding: 25px 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .img-salir{
    width: 20px;
    height: 20px;
    padding-right: 20px;
  }