.menu{
    display: flex;
    justify-content: flex-end;
  }
  .nav{
    color: #111111;
    padding: 25px 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .img-logo{
    display: flex;
    align-self: center;
    width: 120px;
    height: 50px;
    padding-right: 820px;
  }