.containerCards {
  background: tomato;
  display: flexbox;
  flex-direction: row-reverse;
}
.cardCards {
  background-color: white;
  align-content: flex-start;
  width: 220px;
  height: 275px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.photoCards {
  color: yellow;
  width: 220px;
  height: 167px;
  margin: 0;
}
.nameCards {
  margin: 0;
  font-size: 1.5rem;
  padding: 2px;
  color: #111111;
}
.profesionalCards {
  font: 0.7em sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 1px;
  color: #2c7ff7;
}
.locatedCards {
  margin: 0;
  padding: 1;
  color: #888888;
  font-weight: 400;
}
.detailsCards {
  font: 0.9em sans-serif;
  font-weight: 600;
}
.starCards {
  margin: 0;
  color: #149bf3;
}
