.hourDocs {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
}

.scheduleHour {
  background-color: white;
  display: flex;
  max-width: 48%;
  flex: 1 2 200px;
  padding: 1rem;
  margin-top: 10px;
  margin-left: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  opacity: 1;
  align-content: flex-start;
  justify-content: space-between;
}
.firstHour {
  /* background-color: yellow; */
  width: 60px;
  text-align: center;
  letter-spacing: 0;
  color: #111111;
  opacity: 1;
}
.MdChevronRight {
  background: yellowgreen;
}
.iconHour {
  /* background: bisque; */
  align-self: center;
  width: 60px;
  text-align: center;
}
.butttonHour {
  /* text-align: center; */
  display: flex;
  justify-content: flex-end;
  outline: 1px deeppink dashed;
}
