.modalContainer {
  background-color: rgba(72, 72, 72, 0.1);
  opacity: 80%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  left: 0;
  justify-content: space-around;
}

.modalContent {
  background-color: white;
  width: 400px;
  height: 300px;
  position: relative;
  border-radius: 5px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.posicion {
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  display: flex;
}
.buttonModalSalir {
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
